.main{
    color:green;
    text-decoration: underline;
}
.box{
    grid-template-rows: auto;
    grid-area: auto;
    border: 3px solid red;
}
.header{
    font-weight: 200px;
}
.row{
    border: 2px solid black;
}
.btn{
    color: black;
    background: sienna;
    border-radius: 5px;
    width: 190px;
}
.msg{
    color: blue;
}
.close{
    color: black;
    background-color: red;
    border-radius: 5px;
    width: 90px;
    height: 37px;
    border: none;
}
.err{
    color: red;
    font-weight: 400px;
}